
<template x-for="model in modelList" :key="model.name">
    <div x-cloak
            class="transition duration-500 ease-in-out shadow-md rounded-xl hover:shadow-xl">
        <div class="pt-2"
            x-show="searchNeedle === '' || model.name.toLowerCase().includes(searchNeedle.toLowerCase()) || model.details.parameter_size === searchNeedle">
        <div class="p-0 rounded-xl collapse collapse-plus">
            <input type="radio" name="model-card" />
            <div class="flex bg-gray-100 collapse-title">
            <div class="text-xl font-medium text-black cursor-pointer"
                    x-show="!model.confirmRename && !model.confirmCopy && !model.confirmDelete"
                    x-text="model.name"></div>
            <div class="z-[1000]">
                <div class="text-xl font-medium text-black" x-show="model.confirmRename">input for rename here</div>
                <div class="text-xl font-medium text-black" x-show="model.confirmCopy">input for copy here</div>
                <div class="text-xl font-medium text-black" x-show="model.confirmDelete">DELETE MODEL?</div>
            </div>
            </div>
            <div class="p-0 !pb-0 bg-gray-100 collapse-content">
            <div class="flex justify-between w-full px-2 py-2 text-black border-t">
                <div>
                <button class="px-1 rounded btn btn-ghost btn-sm"
                        :class="{ 'btn-active': model.showInfoPage }"
                        @click="model.showInfoPage = true; model.showModelPage = false">INFO</button>
                <button class="px-1 rounded btn btn-ghost btn-sm"
                        :class="{ 'btn-active': model.showModelPage }"
                        @click="model.showInfoPage = false; model.showModelPage = true">MODELFILE</button>
                </div>
                <div>
                    {% comment %} <button class="px-1 rounded btn btn-ghost btn-sm">RENAME</button> {% endcomment %}
                    <button class="px-1 rounded btn btn-ghost btn-sm" @click="model.confirmRename = true" x-show="!model.confirmRename">RENAME</button>
                    <button class="px-1 rounded btn btn-success btn-sm" @click="model.renameModel('{{ model.name }}'); model.confirmRename = false" @click.away="model.confirmRename = false" x-show="model.confirmRename">CONFIRM</button>
                    {% comment %} <button class="px-1 rounded btn btn-ghost btn-sm">COPY</button> {% endcomment %}
                    <button class="px-1 rounded btn btn-ghost btn-sm" @click="model.confirmCopy = true" x-show="!model.confirmCopy">COPY</button>
                    <button class="px-1 rounded btn btn-success btn-sm" @click="model.duplicateModel('{{ model.name }}'); model.confirmCopy = false" @click.away="model.confirmCopy = false" x-show="model.confirmCopy">CONFIRM</button>
                    {% comment %} <button class="px-1 rounded btn btn-ghost btn-sm">DELETE</button> {% endcomment %}
                    <button class="px-1 rounded btn btn-ghost btn-sm" @click="model.confirmDelete = true" x-show="!model.confirmDelete">DELETE</button>
                    <button class="px-1 rounded btn btn-error btn-sm" @click="model.deleteModel('{{ model.name }}'); model.confirmDelete = false" @click.away="model.confirmDelete = false" x-show="model.confirmDelete">CONFIRM</button>
                </div>
            </div>
            <div>
                <div x-show="model.showInfoPage" class="w-full">
                    <div class="px-3 bg-gray-100">
                        <div class="flex flex-wrap">
                        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
                            <div class="text-xs text-gray-400">Model Name:</div>
                            <div class="text-black text-basis" x-text="model.model"></div>
                        </div>
                        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
                            <div class="text-xs text-gray-400">Parameter Size:</div>
                            <div class="text-black text-basis" x-text="model.details.parameter_size"></div>
                        </div>
                        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
                            <div class="text-xs text-gray-400">File Size:</div>
                            <div class="text-black text-basis" x-text="formatSize(model.size)"></div>
                        </div>
                        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
                            <div class="text-xs text-gray-400">Quantization Level:</div>
                            <div class="text-black text-basis"
                                x-text="model.details.quantization_level"></div>
                        </div>
                        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
                            <div class="text-xs text-gray-400">Model Family:</div>
                            <div class="text-black text-basis" x-text="model.details.family"></div>
                        </div>
                        <div class="w-full pb-2 md:w-1/2 xl:w-1/3">
                            <div class="text-xs text-gray-400">Last Modified:</div>
                            <div class="text-black text-basis" x-text="formatDate(model.modified_at)"></div>
                        </div>
                    </div>
                </div>
            </div>
                <div x-show="model.showModelPage" class="w-full">
                    <div class="px-2 pb-1">
                        <textarea 
                        x-data="textareaData()"
                        rows="10" 
                        class="w-full px-2 py-1 text-gray-400 transition duration-500 ease-in-out bg-gray-200 rounded rounded-b-lg resize-none hover:text-gray-500 hover:bg-gray-300 focus:bg-gray-300 focus:outline-none focus:text-black"
                        :id="$id('textarea-' + counter)"
                        :name="$id('textarea-' + counter)"
                    >hi</textarea>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</template>